/** COLORS

#4bcaff -> bleu clair
#515f67 -> gris
#39444b -> gris header
#353f46 -> gris foncé visit me

marge du contenu main -> 375px
**/

/************** FONTS **************/
@font-face {
   font-family: "segoe-light";
   src: url("../font/segoe_ui_light.ttf");
}

@font-face {
   font-family: "segoe-regular";
   src: url("../font/segoe_ui_regular.ttf");
}

@font-face {
   font-family: "segoe-bold";
   src: url('../font/segoe_ui_bold.ttf');
}

/************** RESET CSS **************/
* {
   box-sizing: border-box;
   font-family: "segoe-light", sans-serif;
}

body {
   margin: 0;
   /*
   width: 1920px;
   */
}

/************** NAV BAR **************/
.nav-bar {
   color: #ffffff;
   background: #39444b;
   opacity: 0.75;
}

.wrapper-nav {
   margin: 0 375px;
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}

.titre-menu {
   display: inline-block;
}

.titre-menu h1 {
   font-family: "segoe-regular", sans-serif;
   font-size: 1.87rem;
   margin: 65px 0 65px 0;
   text-transform: uppercase;
   cursor: pointer;
}

.titre-menu h1 .logo-color {
   font-family: "segoe-regular", sans-serif;
   color: #4bcaff;
}

.nav-menu {
   display: inline-block;
   text-align: center;
}

.nav-menu ul {
   padding: 0;
   margin: 0;
   height: 34px;
}

.nav-menu ul li {
   margin: 20px 10px;
   padding: 0;
   display: inline-block;
}

.nav-menu ul li a {
   text-transform: uppercase;
   color: #ffffff;
   text-decoration: none;
   font-size: 0.87rem;
   padding: 10px 20px;
   border: solid 2px #39444b;
   font-family: "segoe-bold", sans-serif;
}

.nav-menu ul li a:hover {
   border: 2px solid #4bcaff;
   color: #4bcaff;
}

/************** HERO **************/
.main-hero {
   background: url("../img/hero.jpg");
   height: 800px;
   margin-top: -165px;
}

.wrap-hero {
   margin: 0 375px;
   padding: 400px 90px 235px;
   display: flex;
   flex-direction: column;
   align-content: center;
}

.wrap-hero p {
   color: #ffffff;
   background-color: #39444b;
   text-align: center;
   opacity: 0.95;
   font-family: "segoe-light", sans-serif;
   font-size: 42px;
   text-transform: uppercase;
}

.wrap-hero .quote1 {
   margin: auto auto 6px;
   padding: 0 5px;
}

.wrap-hero .quote2 {
   margin-top: 6px;
}

/************** SERVICES **************/
.main-services {
   background: #4bcaff;
   color: #ffffff;
}

.services-container {
   margin: 0 375px;
}

.services-container h2, .services-container h3, .services-container p {
   margin: 0;
}

.services-container h2 {
   font-family: "segoe-light", sans-serif;
   font-size: 30px;
}

.services-container h3 {
   font-size: 24px;
   font-family: "segoe-bold", sans-serif;
}

.services-container p {
   font-size: 12px;
   font-family: "segoe-regular", sans-serif;
}

.services-container span {
   border-bottom: #ffffff solid 2px;
}

.services-container .services-flex {
   display: flex;
}

.services-container img {
   margin-top: 39px;
   margin-bottom: 24px;
}

.services-container h2 {
   padding-top: 80px;
}

.services-container h3 {
   margin-bottom: 20px;
}

.services-container p {
   margin-bottom: 80px;
   padding-right: 10px;
}

.services-container .char-upper {
   text-transform: uppercase;
}

/************** PORTFOLIO **************/
.conteneur_portfolio {
   margin: 0 375px 65px 375px;
}

.header_portfolio {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}

.titre_portfolio {
   margin: 80px 0 0 0;
}

.titre_portfolio h2 {
   font-family: "segoe-light", sans-serif;
   font-size: 1.87rem;
}

.titre_portfolio h2 span {
   border-bottom: solid 2px;
}

.nav_portfolio ul li {
   display: inline-block;
}

.nav_portfolio ul li a {
   color: #69747b;
   font-family: "segoe-bold", sans-serif;
   text-decoration: none;
   border: solid 2px transparent;
   padding: 8px 16px;
   margin: 7px;
}

.nav_portfolio ul li a:hover {
   color: #4bcaff;
   border: solid 2px #4bcaff;
   box-sizing: border-box;
}

.conteneur_img_portfolio {
   margin: 0 360px 66px 360px;
   display: flex;
   flex-wrap: wrap;
   position: relative;
}

.img_portfolio a {
   display: inline-block;
   overflow: hidden;
   height: 270px;
   width: 270px;
   margin: 15px;
   opacity: 0.85;
   background-color: #353f47;
   position: relative;
}

.img_portfolio a .cross {
   color: white;
   font-size: 5rem;
   font-family: "segoe-light", sans-serif;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   opacity: 0;
}

.img_portfolio a:hover .cross {
   opacity: 100%;
}

.img_portfolio a img:hover {
   opacity: 0.3;
}

/************* SECTION ***************/
.main-section {
   background-color: #515f67;
}

.conteneur_section {
   margin: 375px;
   display: flex;
   justify-content: space-between;
}

.conteneur_texte_section {
   margin: 80px 146px 80px 0;
   color: white;
}

.conteneur_texte_section h2 {
   margin-top: 0;
   margin-bottom: 0;
   font-size: 1.87rem;
   font-family: "segoe-light", sans-serif;
}

.conteneur_texte_section h2 span {
   border-bottom: solid 2px white;
}

.texte_section p {
   top: 40px;
   font-family: "segoe-regular", sans-serif;
   font-size: 0.875rem;
   color: white;
}

.bouton_section {
   margin-top: 33px;
}

.bouton_section a {
   color: #353f46;
   font-family: "segoe-bold", sans-serif;
   text-decoration: none;
   border: solid 2px #353f46;
   padding: 16px 39px;
}

.conteneur_video_section {
   margin: 80px 0;
   opacity: 0.7;
}

/************** TWITTER **************/
.main-twitter {
   background-color: #4bcaff;
   font-family: "segoe-light", sans-serif;
   color: #ffffff;
   height: 306px;
}

.twitter-container {
   margin: 375px;
}

.main-twitter h1 span {
   text-decoration: underline;
}

.twitter-titre {
   font-size: 30px;
}

.twitter-text {
   font-size: 28px;
   right: auto;
}

.bold {
   font-family: "segoe-bold", sans-serif;
   font-weight: bold;
}

/************** WHO IS **************/
.main-whois {
   background-image: url("../img/who_is.jpg");
   height: 500px;
   background-position: center;
   background-repeat: no-repeat;
}

.whois-container {
   margin: 375px;
}

.whois {
   text-decoration: underline;
   color: white;
}

#wrap p {
   width: 50%;
}

#part-1 {
   font-size: 14px;
   float: left;
   text-align: left;
   left: 215px;
   font-weight: lighter;
   color: white;
   font-family: "segoe-light", sans-serif;
   line-height: 25px;
   top: 60px;
   position: relative;
}

#part-2 {
   font-size: 14px;
   float: right;
   text-align: left;
   left: 0;
   font-weight: lighter;
   color: white;
   font-family: "segoe-light", sans-serif;
   line-height: 25px;
   top: 60px;
   position: relative;
}

.who-is-titre {
   color: white;
   font-family: "segoe-light", sans-serif;
   left: 215px;
   position: relative;
   top: 41px;
   font-size: 30px;
   display: inline-block;
}

.icon {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.img-twitter {
   position: relative;
   top: 67px;
   height: 14px;
   width: 60px;
   border: 2px solid white;
   padding: 30px;
   display: inline-block;
}

.img-google {
   position: relative;
   top: 67px;
   width: 60px;
   left: 15px;
   height: 14px;
   border: 2px solid white;
   padding: 30px;
   display: inline-block;
}

.img-dribbble {
   position: relative;
   top: 67px;
   height: 10px;
   left: 30px;
   width: 60px;
   border: 2px solid white;
   padding: 30px;
   display: inline-block;
}

.img-coffee2 {
   position: relative;
   top: 67px;
   height: 14px;
   width: 60px;
   left: 45px;
   border: 2px solid white;
   padding: 30px;
   display: inline-block;
}

/************** TESTIMONIALS **************/
.main-testimonials {
   color: #515f67;
}

.wrap-testimonials {
   margin: 0 375px;
}

.header-testimonials {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}

.header-testimonials h2 {
   margin: 70px 0 40px 0;
   padding: 10px 0;
   display: inline-block;
   text-transform: uppercase;
   font-family: "segoe-light", sans-serif;
   font-size: 1.87rem;
}

.header-testimonials h2 span {
   font-family: "segoe-light", sans-serif;
   margin-bottom: 10px;
   border-bottom: solid 2px;
}

.info-testimonials {
   font-size: 1.75rem;
}

.info-testimonials .signature {
   font-size: 0.87rem;
   color: #4bcaff;
   font-family: "segoe-bold", sans-serif;
}

/********* CONTACT ************/
.main-contact {
   color: white;
   background: #515f67 url("../img/contact.jpg");
   opacity: 0.9;
}

.wrap-contact {
   margin: 0 375px;
   position: relative;
}

.header-contact h2 {
   margin: 70px 0 40px 0;
   padding: 10px 0;
   display: inline-block;
   text-transform: uppercase;
   font-family: "segoe-light", sans-serif;
   font-size: 1.87rem;
}

.header-contact h2 span {
   font-family: "segoe-light", sans-serif;
   margin-bottom: 10px;
   border-bottom: solid 2px;
}

.form-contact {
   padding-bottom: 70px;
}

label {
   display: block;
   font-family: "segoe-bold", sans-serif;
   font-weight: normal;
   font-size: 0.87rem;
   text-transform: uppercase;
}

input, textarea {
   display: block;
   margin: 10px 0 40px 0;
   color: white;
   font-size: 1rem;
   font-family: "segoe-light", sans-serif;
}

input {
   height: 60px;
   width: 465px;
   background-color: rgba(0, 0, 0, 0);
   border: solid 2px white;
}

textarea {
   width: 1165px;
   background-color: rgba(0, 0, 0, 0);
   border: solid 2px white;
   resize: none;
}

#button {
   margin: 0;
   background: #4bcaff;
   border: none;
   color: white;
   font-size: 0.87rem;
   font-family: "segoe-bold", sans-serif;
   font-weight: normal;
   text-transform: uppercase;
}

#button:hover {
   cursor: pointer;
}

.info-contact {
   position: absolute;
   top: 25%;
   left: 50%;
}

.info-contact p {
   margin: 0;
   width: 550px;
   height: 200px;
}

/*************FOOTER *********/
footer{
   background: #353f46;
}

.wrap-footer{
   padding: 80px 375px;
   color: #515f67;
   display: flex;
   justify-content: space-between;
}

.nav-footer a{
   color: #515f67;
   font-family: "segoe-bold", sans-serif;
   font-size: 0.87rem;
   text-decoration: none;
}

.separation{
   margin: 0 15px;
   cursor: pointer;
}