/** COLORS


#4bcaff -> bleu clair
#515f67 -> gris
#39444b -> gris header
#353f46 -> gris foncé visit me

marge du contenu main -> 375px

**/


/************** FONTS *************/
@font-face {
   font-family: "segoe-light";
   src: url('../font/segoe_ui_light.ttf');
}

@font-face {
   font-family: "segoe-regular";
   src: url('../font/segoe_ui_regular.ttf');
}

@font-face {
   font-family: "segoe-bold";
   font-weight: bold;
   src: url('../fontsegoe_ui_bold.ttf');
}
/*********************************/

*{
   box-sizing: border-box;
}

body{
   margin: 0;
}

main{
   margin: 0px 375px;
}

.conteneur_porfolio {
   background: white;
}

.contenu_portfolio {
}

.titre_portfolio {
   margin: 15px;
   font-family: 'sergoe UI'
}